<IfModule mod_rewrite.c>
RewriteEngine On
  # Si le fichier (PHP, HTML, etc.) existe physiquement sur le disque, le servir directement
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Sinon, rediriger vers router.php
  RewriteRule ^ router.php [L,QSA]
</IfModule>
